@popcolor: #99FF99;
@backgroundcolor: #FFFFFA;
@textcolor: #101010;
@bodycolor: #DADAFF;
@fancytext: 'Indie Flower', cursive;
@generictext: 'Titillium Web', sans-serif;

body {
	background-color: @backgroundcolor;
}

h1 {
	color: @backgroundcolor;
	font-family: @fancytext;
}

.page-header {
	background-color: @popcolor;
	text-align: center;
}

.page-header h1 {
	font-size: 70px;
}

.nav-pills {
	background-color: @bodycolor;
	font-family: @generictext;
}

.nav-pills>li.active>a {
	background-color: @popcolor;
}

.paragraphguy {
	background-color: @bodycolor;
	font-family: @generictext;
}